In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

import acquire as a
import prepare as p

In [2]:
df = a.get_zillow_data()

In [3]:
df = p.handle_missing_values(df)

In [4]:
df.columns

Index(['parcelid', 'logerror', 'transactiondate', 'id', 'parcelid',
       'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'fips', 'fullbathcnt', 'heatingorsystemtypeid',
       'latitude', 'longitude', 'lotsizesquarefeet',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidzip', 'roomcnt', 'unitcnt', 'yearbuilt',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear',
       'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock'],
      dtype='object')

In [5]:
df = df[['bathroomcnt', 'bedroomcnt', 'lotsizesquarefeet', 'taxvaluedollarcnt']]

In [6]:
df.head()

   bathroomcnt  bedroomcnt  lotsizesquarefeet  taxvaluedollarcnt
0          3.0         4.0            13038.0           145143.0
1          3.0         4.0            63000.0           773303.0
2          1.0         2.0             4214.0           218552.0
3          3.0         4.0            20028.0           220583.0
4          3.0         4.0            10384.0           430108.0

In [7]:
train, test = p.split_my_data(df, train_ratio = .80, seed = 123)

In [14]:
train_x = train[['bathroomcnt', 'bedroomcnt', 'lotsizesquarefeet']]
train_y = train[['taxvaluedollarcnt']]
yhat['mean'] = train['taxvaluedollarcnt']

test_x = test[['bathroomcnt', 'bedroomcnt', 'lotsizesquarefeet']]
test_y = test[['taxvaluedollarcnt']]

NameError: name 'yhat' is not defined

0.22477405665149133

0.1594025838494336